<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Video Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aesthetic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>

<body>
    <h1>無料のビデオ電話</h1>

    <div class="center">
        <img src="{{ url_for('static', filename='image/error.gif') }}">
    </div>


    <button class="aesthetic-windows-95-button center" onclick="location.href=location.origin">
        OK
    </button>
</body>

</html>
