<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Video Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='aesthetic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>

<body>
    <h1>無料のビデオ電話</h1>

    <img class="left-image" src="{{ url_for('static', filename='image/bust.gif') }}">

    <div>
        <p class="green-black">メイドインジャパン</p>
        <p class="green-black">これは高品質な</p>
    </div>

    <div>
        <p></p>
    </div>

    <form id="room-form">
        <p class="aesthetic-font-modifier-outline-purple form-title">部屋の名前</p>
        <input id="room-name" class="aesthetic-windows-95-text-input" type="text" />
        <button class="aesthetic-windows-95-button join-room">始める</button>
    </form>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>
